<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>The Home Page <%= 5 + 5%></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam repellat non necessitatibus molestias a debitis unde suscipit, adipisci vitae exercitationem provident ab vero reiciendis quis sed autem earum excepturi temporibus.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum neque exercitationem suscipit magnam tempora at quisquam saepe ipsam magni. Laboriosam natus hic obcaecati porro sit ipsum iusto beatae accusantium dolor.</p>
</body>
</html>