<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saamans</title>
</head>
<body>
    <h1>All Saamans</h1>
    <div>
        <a href="/saamans/new">Add new Saaman</a>
    </div>
    <ul>
        <% for(let saaman of saamans){ %>
            <li><a href="/saamans/<%=saaman._id%>"><%=saaman.title%></a></li>
            
            <% }%>
    </ul>
</body>
</html>