<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h1>saaman info</h1>
    <h2><%=saaman.title%></h2>
    <h3><%=saaman.location%></h3>
    <footer>
        <a href="/saamans">All saamans</a>
        <a href="/saamans/<%-saaman._id%>/edit">Edit saaman</a>
        <form action="/saamans/<%-saaman._id%>?_method=DELETE" method="POST">
            <button>Delete saaman</button>
        </form>
    </footer>
</body>
</html>